<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Flight #<%= @flight.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/flights" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link flight start -->
      <div class="col">
        <a href="/flights/<%= @flight.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit flight
        </a>
      </div>
      <!-- Edit link flight end -->

      <!-- Delete link flight start -->
      <div class="col">
        <a href="/delete_flight/<%= @flight.id %>" class="btn btn-block btn-outline-secondary">
          Delete flight
        </a>
      </div>
      <!-- Delete link flight end -->
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <!-- Display description start -->
      <dd>
        <%= @flight.description %>
      </dd>
      <!-- Display description end -->

      <dt>
        Phone number
      </dt>
      <!-- Display phone_number start -->
      <dd>
        <%= @flight.phone_number %>
      </dd>
      <!-- Display phone_number end -->

      <dt>
        Message sent
      </dt>
      <!-- Display message_sent start -->
      <dd>
        <%= @flight.message_sent %>
      </dd>
      <!-- Display message_sent end -->

      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <% if @flight.user.present? %>
          <a href="/users/<%= @flight.user_id %>">
            <%= @flight.user.email %>
          </a>
        <% end %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Departs at
      </dt>
      <!-- Display departs_at start -->
      <dd>
        <%= @flight.departs_at %>
      </dd>
      <!-- Display departs_at end -->

      <dt>
        Minute message sent
      </dt>
      <!-- Display minute_message_sent start -->
      <dd>
        <%= @flight.minute_message_sent %>
      </dd>
      <!-- Display minute_message_sent end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@flight.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@flight.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
