<!-- Validation failure messages -->
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit user #<%= @user.id %>
</h1>

<hr>

<!-- Form user start -->
<form action="/update_user/<%= @user.id %>" method="post">
<!-- Form user end -->

  <!-- Label and input for email start -->
  <div class="form-group">
    <label for="email">
      Email
    </label>

    <!-- Input for email start -->
    <input type="text" id="email" name="email" class="form-control" value="<%= @user.email %>">
    <!-- Input for email end -->
  </div>
  <!-- Label and input for email end -->

  <!-- Label and input for password start -->
  <div class="form-group">
    <label for="password">
      Password
    </label>

    <!-- Input for password start -->
    <input type="text" id="password" name="password" class="form-control" value="<%= @user.password %>">
    <!-- Input for password end -->
  </div>
  <!-- Label and input for password end -->

  <!-- Label and input for phone_number start -->
  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <!-- Input for phone_number start -->
    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @user.phone_number %>">
    <!-- Input for phone_number end -->
  </div>
  <!-- Label and input for phone_number end -->

  <button class="btn btn-block btn-outline-secondary">
    Update user
  </button>
</form>

<hr>

<a href="/users">
  Go back
</a>
